body {
    background-color: rgb(246, 246, 246);
    /*font-size: 100px;*/
    font-family: sans-serif;
    margin: 0;
}

/*
Colors

 000 = black
 1, 2, 3, 4, 5, 6, 7, 8, 9,
 a, b, c, d, e, f
fff = white
 */


/*
Units
px, %, pt, em, rem, vh, vw

 */

#header-wrapper {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#site-header {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;*/
}

#logo a {
    color: #f00;
    font-size: 22px;
}

a[href='http'] {
    color: darkblue;
}

.main-nav a {
    color: #444;
    margin-right: 20px;
}

.main-nav a:hover {
    color: #f00;
}

.main-nav a:last-child {
    margin-right: 0;
}

.btn-publish {
    color: #f00;
    border: 2px solid  #f00;
    padding: 10px 30px;
    border-radius: 4px;
    /* https://cubic-bezier.com */
    transition: all .3s ease;
    text-transform: uppercase;
}
.btn-publish:hover {
    padding: 20px 40px;
    text-decoration: none;
    background-color: rgba(255, 0, 0, .1);
}

#search-filters {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

#search-filters form {
    display: flex;
}

#search-filters form label {
    /* color: #f00; */
    /* text-transform: uppercase; */
    /* font-weight: bold; */
}

.card {
    color: white;
}

.card .card-title {
    text-transform: uppercase;
}


.ad-content {

}

.ad-content .ad-info h3 > small {
    font-size: 13px;
}
